appname = beego-oauth2-demo
httpport = 8080
runmode = dev
SessionOn = true
oauth2configgoogle = {"web":{"client_id":"1234567890.apps.googleusercontent.com","project_id":"api-project-123456","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.com/o/oauth2/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"1234567890","redirect_uris":["https://example.com/oauth2callback"],"javascript_origins":["https://example.com"],"scopes":["https://www.googleapis.com/auth/bigquery","https://www.googleapis.com/auth/blogger"]}}
oauth2configfacebook = {"ClientID":"1234567890","ClientSecret":"1234567890","RedirectURL":"https://example.com/oauth2callback","Scopes":["email","public_profile"]}
oauth2redirecturi = https://example.com/oauth2callback